<% layout('layouts/new') %> 
<h1>total count booked is now:<%=count %> </h1>
<h2>
    total amount paid by clients:<%=totalAmountCollected%> 
    </h2>




 <h2>
 total amount price:<%=totalSum%> 
 </h2>
 <h2>
    total  campgrounds created:<%=totalCamp%> 
</h2>
<h2>
    total  campgrounds selled :<%=totalCampbooked%> 
    </h2>
  
    <h2>
        totalCamp on Sale:<%=totalCamponSale%> 
        </h2>

<h3>total camp overall Sale <%=totalbookedoverall %> </h3>

<h3>total cancelled tickets is:<%=totalcancel %> </h3>

<h3> amountrefundedbycancelledclient:<%=amountRefunded %> </h3>